.about_us {
  display: flex;
  align-items: center;

  position: relative;

  @include desct_padding;

  background-color: $bgr;
}

.about_us__img_wrapper {
  position: relative;

  display: block;

  width: 555px;
  height: 700px;

  @include img_wrapper($accent_4);

  &::after {
    position: absolute;
    top:0;
    left: 0;

    display: block;
    width: 100%;
    height: 100%;

    content: "";

    border: 10px solid $transparent_gray;
    box-sizing: border-box;
  }
}

.about_us__text_content {
  display: block;

  position: absolute;
  left: 880px;

  width: 650px;
  height: 550px;

  padding-top: 95px;
  padding-left: 85px;
  padding-right: 85px;

  background-color: $alt_items_bgr;
  @include shadow;
  box-sizing: border-box;
}

.about_us__title {
  @include sectionTitle;
}

@media (max-width: 1900px) {
  .about_us {
    @include adapt_padding;
  }

  .about_us__text_content {
    left: 48%;

  }
}

@media (max-width: 1290px) {
  .about_us {
    justify-content: center;
    flex-wrap: wrap;

    position: relative;

    @include adapt_padding;
  }

  .about_us__img_wrapper {
    height: auto;

    order: 2;
  }

  .about_us__text_content {
    position: inherit;
    left: 0;

    height: auto;
    padding-bottom: 30px;
    margin-bottom: 50px;

    order: 1;
  }
}

@media (max-width: 992px) {
  .about_us__text_content {
    padding-top: 40px;
    padding-left: 40px;
    padding-right: 40px;

    margin-bottom: 10px;
  }
}

@media (max-width: 610px) {
  .about_us__text_content {
    padding-top: 10px;
    padding-left: 0;
    padding-right: 0;

    margin-bottom: 0;

    box-shadow: none;
  }
}