.btn {
  display: inline-block;

  width: auto;
  height: 50px;

  padding: 0 36px;

  font-size: 16px;
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;
  color: $alt-text;

  background-color: $accent_4;
  border: none;
  border-radius: 30px;
  box-sizing: border-box;
  outline-color: transparent;

  transition: .2s;

  &:hover {
    cursor: pointer;
    transition: .2s;
    background: $accent_1;
    text-decoration: none;
  }

  &:not(:hover) {
    transition: .2s;
  }
}

.btn__close {
  position: relative;

  display: block;
  width: 40px;
  height: 40px;

  margin-right: -20px;
  padding: 0;

  background-color: transparent;
  border: none;
  border-radius: inherit;

  &::before {
    content: "";

    position: absolute;
    left: -6px;

    display: block;
    width: 45px;
    height: 3px;

    transform: rotate(-45deg);

    background-color: $text;
  }

  &::after {
    content: "";

    position: absolute;
    left: -6px;

    display: block;
    width: 45px;
    height: 3px;

    transform: rotate(45deg);

    background-color: $text;
  }
}

.btn__close:hover {
  background-color: transparent;
  cursor: pointer;

  &::before, &::after {
    transition: .1s;
    background-color: $accent_1;
  }
}
