.focus {
  display: flex;
  flex-direction: column;
  align-items: center;

  @include desct_padding;

  background-color: $alt_bgr;
}

.focus__title {
  text-align: center;
  @include sectionTitle;
}

.focus__title_descr {
  font-size: 18px;
}

.focus__title_wrapper {
  margin-bottom: 80px;
}

.focus__list {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  width: 100%;

  margin: 0;
  margin-bottom: -40px;
  padding: 0;

  list-style: none;
}

.focus__item {
  display: flex;
  flex-direction: column;
  align-items: center;

  width: 265px;
  height: 350px;

  padding-top: 65px;
  padding-left: 30px;
  padding-right: 30px;

  background-color: $bgr;
  @include shadow;
  border-bottom: 3px solid transparent;

  box-sizing: border-box;

  &:nth-child(1) {
    border-color: $accent_4;

    .focus__svg {
      fill: $accent_4;
    }
  }
  &:nth-child(2) {
    border-color: $accent_1;

    .focus__svg {
      fill: $accent_1;
    }
  }
  &:nth-child(3) {
    border-color: $accent_2;

    .focus__svg {
      fill: $accent_2;
    }
  }
  &:nth-child(4) {
    border-color: $accent_3;

    .focus__svg {
      fill: $accent_3;
    }
  }
}

.focus__svg {
  margin-bottom: 30px;
}

.focus__item_title {
  margin-top: 0;
  margin-bottom: 35px;
}

.focus__item_descr {
  text-align: center;
}

@media (max-width: 1900px) {
  .focus {
    @include adapt_padding;
  }

  .focus__list {
    flex-wrap: wrap;

    width: 860px;
  }

  .focus__item {
    width: 410px;
    height: 525px;

    padding-top: 85px;
    padding-left: 50px;
    padding-right: 50px;

    margin-right: 40px;
    margin-bottom: 40px;

    font-size: 1.2em;

    &:nth-child(2n) {
      margin-right: 0;
    }
  }

  .focus__svg {
    margin-bottom: 70px;
  }

  .focus__item_title {
    margin-bottom: 60px;
  }
}

@media (max-width: 992px) {
  .focus {
    padding-left: 0;
    padding-right: 0;
  }

  .focus__list {
    width: 768px;

    margin-bottom: -20px;
  }

  .focus__item {
    width: 360px;
    height: 461px;

    padding-top: 55px;

    margin-right: 20px;
    margin-bottom: 20px;
  }

  .focus__svg {
    margin-bottom: 40px;
  }
}

@media (max-width: 768px) {
  .focus__list {
    justify-content: center;

    width: 360px;
  }

  .focus__item {
    width: 360px;
    height: 461px;

    margin-right: 0;
  }
}

@media (max-width: 576px) {
  .focus__title_descr {
    display: inline-block;
    max-width: 340px;

    text-align: center;
  }

  .focus__list {
    width: 340px;
  }

  .focus__item {
    width: 340px;
    height: 435px;
  }
}
