.header__nav_panel {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;

  width: 100%;
  height: 75px;

  @include desct_padding;
  padding-top: 0;
  padding-bottom: 0;

  background-color: $bgr;

  box-sizing: border-box;
}

.header__logo {
  display: inline-flex;
}

.header__logo_link {
  padding-bottom: 10px;

  font-size: 35px;
  color: #616161;
  font-family: "Wisdom Script", sans-serif;
  text-decoration: none;

  box-sizing: border-box;

  span {
    color: $accent_4;
  }

  &:hover {
    span {
      transition: .1s;
      color: $accent_1;
    }
  }
}

.header__nav {
  display: inline-flex;
}

.header__list {
  display: inline-flex;

  margin: 0;
  margin-right: -20px;
  padding: 0;

  list-style: none;
}

.header__list_item {
  margin-right: 20px;

  &:last-child {
    margin-right: 0;
  }
}

.header__nav_link {
  color: $text;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}

.header__site_title {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  width: 100%;
  height: 775px;

  color: $alt-text;

  background: url("../../img/header_bgr.jpg") no-repeat center center;
  background-size: cover;
}

.header__title {
  width: 830px;

  margin-top: 0;
  margin-bottom: 50px;

  font-size: 60px;
  @include sectionTitle;
  font-weight: normal;
  text-align: center;
}

.header__btn {
  margin-bottom: 80px;
}

.header__features_wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;

  width: 750px;

  margin: 0;
  padding: 0;
  list-style: none;
}

.header__features_unit {
  display: flex;
  flex-direction: column;
  align-items: center;

  width: 33%;

  font-weight: bold;
  text-transform: uppercase;
  color: $accent_2;

  .header__features_svg {
    margin-bottom: 35px;
    fill: $accent_2;
  }

  &:first-child {
    color: $accent_1;

    .header__features_svg {
      fill: $accent_1;
    }
  }

  &:last-child {
    color: $accent_3;

    .header__features_svg {
      fill: $accent_3;
    }
  }
}

.header__list_item--list_head, .header__list_item--list_footer {
  display: none;
}

.header__hamburger {
  display: none;
  justify-content: center;
  align-items: center;

  width: 50px;
  height: 50px;

  padding: 0;

  background-color: transparent;
  border: none;

  box-sizing: border-box;

  &:hover {
    cursor: pointer;

    .header__hamburger_item, .header__hamburger_item::before, .header__hamburger_item::after {
      transition: .1s;
      background-color: $accent_1;
    }
  }

  &--active {
    .header__hamburger_item, .header__hamburger_item::before, .header__hamburger_item::after {
      background-color: $accent_4;
    }
  }
}

.header__hamburger_item {
  display: block;
  width: 40px;
  height: 5px;

  background-color: $text;

  &::before {
    content: "";

    position: relative;
    top: -12px;

    display: block;
    width: 40px;
    height: 5px;

    background-color: $text;
  }

  &::after {
    content: "";

    position: relative;
    bottom: -7px;

    display: block;
    width: 40px;
    height: 5px;

    background-color: $text;
  }
}

.header__close {
  position: relative;

  display: block;
  width: 40px;
  height: 40px;

  margin-right: -20px;

  background-color: transparent;
  border: none;

  &::before {
    content: "";

    position: absolute;
    left: -6px;

    display: block;
    width: 45px;
    height: 3px;

    transform: rotate(-45deg);

    background-color: $text;
  }

  &::after {
    content: "";

    position: absolute;
    left: -6px;

    display: block;
    width: 45px;
    height: 3px;

    transform: rotate(45deg);

    background-color: $text;
  }
}
.header__close:hover {
  cursor: pointer;

  &::before, &::after {
    transition: .1s;
    background-color: $accent_1;
  }
}

.header__list__social_list {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;

  width: 80%;
  height: 80px;

  margin-top: 10px;
  padding: 0;

  list-style: none;

  li > a:hover {
    transition: .1s;
    fill: $accent_1;
  }
}

@media (max-width: 1900px) {
  .header__nav_panel {
    @include adapt_padding;
    padding-top: 0;
    padding-bottom: 0;
  }

  .header__list_item {
    margin-right: 15px;
  }
}

@media (max-width: 992px) {
  .header__hamburger {
    display: flex;
  }

  .header__nav {
    position: fixed;
    left: 0;
    top: 0;

    display: none;
    width: 100vw;
    height: 100vh;

    background-color: rgba(64, 64, 64, 0.87);

    z-index: 1000;
  }

  .header__list {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;

    display: flex;
    flex-direction: column;

    width: 350px;
    max-height: 450px;

    margin: auto auto;

    overflow: scroll;
    background-color: $bgr;
    box-sizing: border-box;
  }

  .header__list_item {
    width: 100%;
    height: 50px;

    margin: 0;
  }

  .header__list_item--list_head {
    display: flex;
    justify-content: space-around;
    align-items: center;

    height: 60px;

    box-sizing: border-box;
  }

  .header__list_item--list_footer {
    display: flex;
    justify-content: center;

    width: 100%;
    height: auto;
  }

  .header__nav_link {
    position: relative;

    display: block;
    width: 100%;
    height: 50px;

    color: $text;
    text-transform: uppercase;
    text-align: center;
    line-height: 50px;

    box-sizing: border-box;

    &::after {
      content: "";

      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;

      display: block;
      width: 80%;
      height: 2px;

      margin: 0 auto;

      background-color: $accent_4;
      border-radius: 50%;
    }

    &:hover {
      transition: .2s;
      text-decoration: none;
      font-size: 1.1em;

      &::after {
        background-color: $accent_1;
      }
    }
  }

  .header__title {
    width: 740px;
  }
}

@media (max-width: 768px) {
  .header__title {
    width: 540px;

    margin-bottom: 40px;

    font-size: 50px;
  }

  .header__btn {
    margin-bottom: 60px;
  }

  .header__features_wrapper {
    flex-direction: column;

    width: 100%;
  }

  .header__features_unit {
    flex-direction: row;

    width: 300px;

    padding-left: 20px;
    padding-right: 20px;
    margin-bottom: 20px;

    box-sizing: border-box;

    .header__features_svg {
      padding-right: 10px;
      margin-bottom: 0;
    }

    &:last-child {
      margin-bottom: 0;
    }
  }
}

@media (max-width: 576px) {
  .header__list {
    width: 290px;
    min-height: 310px;
  }

  .header__site_title {
    height: 650px;
  }

  .header__title {
    width: 90%;

    font-size: 39px;
  }

  .header__btn {
    margin-bottom: 50px;
  }
}