.header__nav_panel {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;

  width: 100%;
  height: 75px;

  padding: 0 390px;
  box-sizing: border-box;
}

.header__logo {
  display: inline-flex;
}

.header__logo_link {
  padding-bottom: 10px;

  font-size: 35px;
  color: #616161;
  font-family: "Wisdom Script", sans-serif;
  text-decoration: none;

  box-sizing: border-box;

  span {
    color: $accent_4;
  }

  &:hover {
    span {
      transition: .2s;
      color: $accent_1;
    }
  }
}

.header__nav {
  display: inline-flex;
}

.header__list {
  display: inline-flex;

  margin: 0;
  margin-right: -20px;
  padding: 0;

  list-style: none;
}

.header__list_item {
  margin-right: 20px;
}

.header__nav_link {
  color: $text;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}

.header__site_title {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  width: 100%;
  height: 775px;

  color: $alt-text;

  background: $alt_bgr;
}

.header__title {
  width: 830px;

  margin-top: 0;
  margin-bottom: 50px;

  font-size: 60px;
  @include sectionTitle;
  font-weight: normal;
  text-align: center;
}

.header__btn {
  margin-bottom: 80px;
}

.header__features_wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;

  width: 750px;

  margin: 0;
  padding: 0;
  list-style: none;
}

.header__features_unit {
  display: flex;
  flex-direction: column;
  align-items: center;

  width: 33%;

  font-weight: bold;
  text-transform: uppercase;
  color: $accent_2;

  .header__features_svg {
    margin-bottom: 35px;
    fill: $accent_2;
  }

  &:first-child {
    color: $accent_1;

    .header__features_svg {
      fill: $accent_1;
    }
  }

  &:last-child {
    color: $accent_3;

    .header__features_svg {
      fill: $accent_3;
    }
  }
}

@media (max-width: 1200px) {

}

@media (max-width: 992px) {

}

@media (max-width: 768px) {

}

@media (max-width: 576px) {

}