.portfolio {
  display: flex;
  flex-direction: column;
  align-items: center;

  @include desct_padding;

  background-color: $bgr;
}

.portfolio__title {
  text-align: center;
  @include sectionTitle;
}

.portfolio__title_descr {
  display: block;

  margin-bottom: 80px;

  font-size: 18px;
}

.portfolio__list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;

  width: 100%;

  padding: 0;
  margin: 0;

  list-style: none;

  box-sizing: border-box;
}

.portfolio__item {
  position: relative;

  display: block;
  width: 360px;
  height: 290px;

  margin-bottom: 30px;

  @include shadow;

  &:hover {
    .portfolio__detail {
      opacity: 1;
      transition: .3s;
    }
  }
  &:not(:hover) {
    .portfolio__detail {
      transition: .3s;
    }
  }
}

.portfolio__img_wrapper {
  display: block;
  width: 100%;
  height: 100%;

  @include img_wrapper($accent_4);

  img {
    height: 100%;
  }
}

.portfolio__detail {
  position: absolute;
  top: 0;
  left: 0;

  display: block;
  width: 100%;
  height: 100%;

  opacity: 0;
}

.portfolio__btn_wrapper {
  position: relative;

  display: flex;
  align-items: center;
  justify-content: center;

  width: 100%;
  height: 225px;

  border: 7px solid $bgr;
  border-bottom: none;
  background-color: $transparent_gray;

  box-sizing: border-box;
}

.portfolio__btn {
  width: 61px;
  height: 61px;

  padding: 0;
  margin: 0;

  fill: $alt-text;
  background-color: transparent;
  border-radius: 50%;

  &:hover {
    background: transparent;
    fill: $accent_3;
  }
}

.portfolio__item_title {
  display: block;
  width: 100%;
  height: 65px;

  margin: 0;

  //выравнивание по вертикали и горизонтали
  line-height: 65px;
  text-align: center;

  background-color: $bgr;
}


@media (max-width: 1900px) {
  .portfolio {
    @include adapt_padding;
  }

  .portfolio__list {
    width: 1130px;
  }

  .portfolio__item {
    margin-right: 25px;
    &:nth-child(3n) {
      margin-right: 0;
    }
  }
}

@media (max-width: 1620px) {
  .portfolio__list {
    width: 1025px;
  }

  .portfolio__item {
    width: 500px;
    height: 403px;
    margin-right: 25px;
    &:nth-child(2n) {
      margin-right: 0;
    }
  }

  .portfolio__detail {
    opacity: 1;
  }

  .portfolio__btn_wrapper {
    height: 340px;
  }
}

@media (max-width: 992px) {

}

@media (max-width: 768px) {

}

@media (max-width: 576px) {

}