.subscribe {
  display: flex;
  flex-direction: column;
  align-items: center;

  @include desct_padding;

  background-color: $bgr;
}

.subscribe__header {
  margin-top: 0;
  margin-bottom: 50px;

  @include sectionTitle;
  font-weight: normal;
}

.subscribe__form {
  display: flex;
  flex-direction: row;
  justify-content: center;

  width: 700px;
}

.subscribe__email {
  width: 450px;

  padding-left: 20px;

  font-size: 18px;

  background-color: $alt_bgr;
  border: none;
  border-top-left-radius: 30px;
  border-bottom-left-radius: 30px;
}

.subscribe__btn {
  padding-left: 20px;
  padding-right: 20px;

  border-bottom-left-radius: inherit;
  border-top-left-radius: inherit;
}

@media (max-width: 1900px) {
  .subscribe {
    @include adapt_padding;
  }
}

@media (max-width: 992px) {
  .subscribe {
    padding-left: 7%;
    padding-right: 7%;
  }
}

@media (max-width: 768px) {
  .subscribe {
    padding-left: 5%;
    padding-right: 5%;
  }

  .subscribe__email {
    width: 310px;
  }
}

@media (max-width: 576px) {
  .subscribe {
    padding-left: 5%;
    padding-right: 5%;
  }

  .subscribe__header {
    text-align: center;
  }

  .subscribe__form {
    flex-wrap: wrap;

    width: 100%;
  }

  .subscribe__email {
    width: 100%;
    height: 50px;

    margin-bottom: 30px;
    padding-right: 20px;

    border-radius: 30px;

    text-align: center;
    box-sizing: border-box;
  }

  .subscribe__btn {
    border-radius: 30px;
  }
}