.team {
  display: flex;
  flex-direction: column;
  align-items: center;

  @include desct_padding;

  background-color: $alt_bgr;
}

.team__title {
  text-align: center;
  @include sectionTitle;
}

.team__title_descr {
  display: block;

  margin-bottom: 80px;

  font-size: 18px;
}

.team__list {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  width: 100%;

  margin: 0;
  padding: 0;
  padding-bottom: 50px;

  list-style: none;
}

.team__item {
  position: relative;

  display: flex;
  flex-direction: column;

  width: 265px;
  height: 350px;

  @include shadow;

  background-color: $bgr;
  border: 5px solid $bgr;
  border-bottom: none;

  box-sizing: border-box;

  &:hover {
    .team__btn {
      opacity: 1;
    }
  }

  &:nth-child(1) {
    &::after {
      @include underline($accent_4)
    }

    .team__btn:hover {
      fill: $accent_4;
    }

    .team__img_wrapper {
      @include img_wrapper($accent_4);
    }

    .team__unit_name {
      color: $accent_4;
    }
  }

  &:nth-child(2) {
    &::after {
      @include underline($accent_1)
    }

    .team__btn:hover {
      fill: $accent_1;
    }

    .team__img_wrapper {
      @include img_wrapper($accent_1);
    }

    .team__unit_name {
      color: $accent_1;
    }
  }

  &:nth-child(3) {
    &::after {
      @include underline($accent_2)
    }

    .team__btn:hover {
      fill: $accent_2;
    }

    .team__img_wrapper {
      @include img_wrapper($accent_2);
    }

    .team__unit_name {
      color: $accent_2;
    }
  }

  &:nth-child(4) {
    &::after {
      @include underline($accent_3)
    }

    .team__btn:hover {
      fill: $accent_3;
    }

    .team__img_wrapper {
      @include img_wrapper($accent_3);
    }

    .team__unit_name {
      color: $accent_3;
    }
  }
}

.team__btn {
  position: absolute;
  top: 30%;
  left: 0;
  right: 0;

  width: 61px;
  height: 61px;

  padding: 0;
  margin: 0 auto;

  opacity: 0;
  fill: $alt-text;
  background-color: transparent;
  border-radius: 50%;

  &:hover {
    cursor: pointer;
    background: transparent;
  }
}

.team__img_wrapper {
  display: block;

  width: 100%;
  height: 260px;
}

.team__descr_wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  width: 100%;
  height: 80px;
}

.team__unit_name {
  margin: 0;

  font-size: 18px;
  text-align: center;
}

.team__about {
  position: relative;

  display: flex;
  flex-direction: column;

  width: 100%;

  padding: 65px 90px;

  background-color: $bgr;

  box-sizing: border-box;
  z-index: 1;

  &::before {
    content: "";

    position: absolute;

    width: 0;
    height: 0;

    border-left: 30px solid transparent;
    border-right: 30px solid transparent;
    border-bottom: 50px solid $bgr;
  }
}

.team__about--first::before {
  display: block;
  top: -40px;
  left: 105px;
}

.team__about--second::before {
  display: block;
  top: -40px;
  left: 390px;
}

.team__about--third::before {
  display: block;
  top: -40px;
  right: 390px;
}

.team__about--fourth::before {
  display: block;
  top: -40px;
  right: 105px;
}

.team__about_title {
  margin: 0;
  margin-bottom: 30px;

  font-size: 20px;
}

.team__about .btn__close {
  display: none;
}

.team__about_container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  width: 100%;
}

.team__descr {
  width: 65%;

  margin: 0;
}

.team__links {
  width: 130px;
  height: 100%;

  padding-left: 25px;
  margin: 0;

  border-left: 2px solid $alt_bgr;

  list-style: none;
  box-sizing: border-box;
}

.team__links_item {
  margin-bottom: 6px;
  &:nth-child(1){
    &:hover {
      .team__link{
        color: $accent_4;
      }
      .team__link_svg {
        fill: $accent_4;
      }
    }
  }
  &:nth-child(2){
    &:hover {
      .team__link{
        color: $accent_1;
      }

      .team__link_svg {
        fill: $accent_1;
      }
    }
  }
  &:nth-child(3){
    &:hover {
      .team__link{
        color: $accent_2;
      }

      .team__link_svg {
        fill: $accent_2;
      }
    }
  }
  &:nth-child(4){
    &:hover {
      .team__link{
        color: $accent_3;
      }

      .team__link_svg {
        fill: $accent_3;
      }
    }
  }
}

.team__link {
  display: flex;
  align-items: center;

  color: $text;
  text-decoration: none;
}

.team__link_svg {
  margin-right: 5px;
}

@media (max-width: 1900px) {
  .team {
    @include adapt_padding;
  }
}

@media (max-width: 1570px) {
  .team__list {
    width: 900px;
    padding-bottom: 0;
  }

  .team__item {
    width: 210px;
    height: 277px;

    &:nth-child(even) {
      &::after {
        width: 210px;
      }
    }
    &:nth-child(odd) {
      &::after {
        width: 210px;
      }
    }
  }

  .team__btn {
    opacity: 1;
  }

  .team__shading {
      position: fixed;
      left: 0;
      top: 0;

      display: none;
      width: 100vw;
      height: 100vh;

      background-color: rgba(64, 64, 64, 0.87);

      z-index: 1000;
  }

  .team__about {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;

    display: none;

    width: 640px;
    height: 600px;

    margin: auto auto;

    overflow: scroll;
    background-color: $bgr;
    box-sizing: border-box;

    z-index: 1001;

    &::before {
      display: none;
    }
  }

  .team__about .btn__close {
    display: block;

    position: absolute;
    top: 30px;
    right: 50px;
  }
}

@media (max-width: 1280px) {
  .team__list {
    flex-wrap: wrap;
    width: 560px;

    margin-bottom: -30px;
  }

  .team__item {
    width: 265px;
    height: 360px;

    margin-bottom: 30px;

    &:nth-child(even) {
      &::after {
        width: 265px;
      }
    }
    &:nth-child(odd) {
      &::after {
        width: 265px;
      }
    }
  }
}

@media (max-width: 640px) {
  .team {
    padding-left: 0;
    padding-right: 0;
  }

  .team__title_descr {
    max-width: 340px;

    text-align: center;
  }

  .team__list {
    width: 265px;
  }

  .team__about {
    width: 360px;
    height: 400px;

    padding: 40px 20px;
    margin: auto auto;

    overflow: scroll;
    background-color: $bgr;
    box-sizing: border-box;

    z-index: 1001;

    &::before {
      display: none;
    }
  }

  .team__about_container {
    flex-direction: column;
  }

  .team__descr {
    width: 100%;

    margin-bottom: 30px;
  }

  .team__links {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    width: 100%;

    margin-bottom: 10px;

    border-left: none;
  }

  .team__links_item {
    width: 50%;
  }
}