.video {
  display: flex;
  flex-direction: column;
  align-items: center;

  width: 100%;
  height: 500px;

  @include desct_padding;

  color: $alt-text;
  background: url("../../img/video.jpg") no-repeat center center;
  background-size: cover;
}

.video__title {
  font-size: 30px;
  @include sectionTitle;
  font-weight: normal;
  text-align: center;
}

.video__btn {
  width: 80px;
  height: 80px;

  padding: 0;
  margin-bottom: 40px;

  fill: $accent_1;
  background-color: transparent;
  border-radius: 50%;

  &:hover {
    background: transparent;
    fill: $accent_2;
  }
}

@media (max-width: 1900px) {
  .video {
    height: auto;

    @include  adapt_padding;
  }
}