@font-face {
  font-family: "poppins";
  src: url("../fonts/Poppins/PoppinsRegular.ttf");
  font-weight: normal; }

@font-face {
  font-family: "poppins";
  src: url("../fonts/Poppins/PoppinsBold.ttf");
  font-weight: bold; }

@font-face {
  font-family: "Libre Baskerville";
  src: url("../fonts/LibreBaskerville/LibreBaskervilleRegular.ttf");
  font-weight: normal; }

@font-face {
  font-family: "Libre Baskerville";
  src: url("../fonts/LibreBaskerville/LibreBaskervilleBold.ttf");
  font-weight: bold; }

@font-face {
  font-family: "Wisdom Script";
  src: url("../fonts/WisdomScript/WisdomScript.otf");
  font-weight: normal; }

::-webkit-input-placeholder {
  color: #666;
  font-size: 16px; }

:-ms-input-placeholder {
  color: #666;
  font-size: 16px; }

::-ms-input-placeholder {
  color: #666;
  font-size: 16px; }

::placeholder {
  color: #666;
  font-size: 16px; }

:focus::-webkit-input-placeholder {
  color: transparent; }

:focus:-ms-input-placeholder {
  color: transparent; }

:focus::-ms-input-placeholder {
  color: transparent; }

:focus::placeholder {
  color: transparent; }

body {
  font-size: 15px;
  width: 100%;
  max-width: 1940px;
  margin: 0 auto;
  position: relative;
  line-height: 1.65;
  font-family: "poppins", sans-serif;
  overflow-x: hidden;
  color: #454545;
  background-color: #313131; }
  body input, body textarea {
    font-family: "poppins", sans-serif;
    border: #666 1px solid;
    outline: none; }
    body input:focus:required:invalid, body textarea:focus:required:invalid {
      border-color: red; }
    body input:required:valid, body textarea:required:valid {
      border-color: green; }

img {
  display: block;
  max-width: 100%;
  height: auto; }

b, strong {
  font-weight: bold; }

h2 {
  margin-top: 0;
  margin-bottom: 40px;
  font-size: 50px; }

@media (max-width: 576px) {
  h2 {
    font-size: 40px; } }

.btn {
  display: inline-block;
  width: auto;
  height: 50px;
  padding: 0 36px;
  font-size: 16px;
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;
  color: #efefef;
  background-color: #fc5f45;
  border: none;
  border-radius: 30px;
  box-sizing: border-box;
  outline-color: transparent;
  transition: .2s; }
  .btn:hover {
    cursor: pointer;
    transition: .2s;
    background: #38c695;
    text-decoration: none; }
  .btn:not(:hover) {
    transition: .2s; }

.header__nav_panel {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 75px;
  padding: 150px 390px;
  box-sizing: border-box;
  padding-top: 0;
  padding-bottom: 0;
  background-color: #fcfcfc;
  box-sizing: border-box; }

.header__logo {
  display: inline-flex; }

.header__logo_link {
  padding-bottom: 10px;
  font-size: 35px;
  color: #616161;
  font-family: "Wisdom Script", sans-serif;
  text-decoration: none;
  box-sizing: border-box; }
  .header__logo_link span {
    color: #fc5f45; }
  .header__logo_link:hover span {
    transition: .2s;
    color: #38c695; }

.header__nav {
  display: inline-flex; }

.header__list {
  display: inline-flex;
  margin: 0;
  margin-right: -20px;
  padding: 0;
  list-style: none; }

.header__list_item {
  margin-right: 20px; }
  .header__list_item:last-child {
    margin-right: 0; }

.header__nav_link {
  color: #454545;
  text-decoration: none; }
  .header__nav_link:hover {
    text-decoration: underline; }

.header__site_title {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 775px;
  color: #efefef;
  background: url("../../img/header_bgr.jpg") no-repeat center center;
  background-size: cover; }

.header__title {
  width: 830px;
  margin-top: 0;
  margin-bottom: 50px;
  font-size: 60px;
  font-family: 'Libre Baskerville', sans-serif;
  font-weight: bold;
  font-weight: normal;
  text-align: center; }

.header__btn {
  margin-bottom: 80px; }

.header__features_wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 750px;
  margin: 0;
  padding: 0;
  list-style: none; }

.header__features_unit {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 33%;
  font-weight: bold;
  text-transform: uppercase;
  color: #b27cf5; }
  .header__features_unit .header__features_svg {
    margin-bottom: 35px;
    fill: #b27cf5; }
  .header__features_unit:first-child {
    color: #38c695; }
    .header__features_unit:first-child .header__features_svg {
      fill: #38c695; }
  .header__features_unit:last-child {
    color: #feb960; }
    .header__features_unit:last-child .header__features_svg {
      fill: #feb960; }

@media (max-width: 1900px) {
  .header__nav_panel {
    padding: 8% 15%;
    box-sizing: border-box;
    padding-top: 0;
    padding-bottom: 0; }
  .header__list_item {
    margin-right: 15px; } }

.main {
  display: flex;
  flex-direction: column;
  width: 100%; }

.about_us {
  display: flex;
  align-items: center;
  position: relative;
  padding: 150px 390px;
  box-sizing: border-box;
  background-color: #fcfcfc; }

.about_us__img_wrapper {
  position: relative;
  display: block;
  width: 555px;
  height: 700px;
  background: linear-gradient(to top, #fc5f45, #cccccc 60%);
  overflow: hidden;
  box-sizing: border-box; }
  .about_us__img_wrapper::after {
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 100%;
    height: 100%;
    content: "";
    border: 10px solid rgba(50, 50, 50, 0.47);
    box-sizing: border-box; }

.about_us__text_content {
  display: block;
  position: absolute;
  left: 880px;
  width: 650px;
  height: 550px;
  padding-top: 95px;
  padding-left: 85px;
  padding-right: 85px;
  background-color: #ffffff;
  box-shadow: 6px -6px 10px 1px rgba(236, 236, 236, 0.55);
  box-sizing: border-box; }

.about_us__title {
  font-family: 'Libre Baskerville', sans-serif;
  font-weight: bold; }

@media (max-width: 1900px) {
  .about_us {
    padding: 8% 15%;
    box-sizing: border-box; }
  .about_us__text_content {
    left: 48%; } }

@media (max-width: 1290px) {
  .about_us {
    justify-content: center;
    flex-wrap: wrap;
    position: relative;
    padding: 8% 15%;
    box-sizing: border-box; }
  .about_us__img_wrapper {
    height: auto;
    order: 2; }
  .about_us__text_content {
    position: inherit;
    left: 0;
    height: auto;
    padding-bottom: 30px;
    margin-bottom: 50px;
    order: 1; } }

@media (max-width: 992px) {
  .about_us__text_content {
    padding-top: 40px;
    padding-left: 40px;
    padding-right: 40px;
    margin-bottom: 10px; } }

@media (max-width: 610px) {
  .about_us__text_content {
    padding-top: 10px;
    padding-left: 0;
    padding-right: 0;
    margin-bottom: 0;
    box-shadow: none; } }

.focus {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 150px 390px;
  box-sizing: border-box;
  background-color: #f7f7f7; }

.focus__title {
  text-align: center;
  font-family: 'Libre Baskerville', sans-serif;
  font-weight: bold; }

.focus__title_descr {
  font-size: 18px; }

.focus__title_wrapper {
  margin-bottom: 80px; }

.focus__list {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  margin: 0;
  margin-bottom: -40px;
  padding: 0;
  list-style: none; }

.focus__item {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 265px;
  height: 350px;
  padding-top: 65px;
  padding-left: 30px;
  padding-right: 30px;
  background-color: #fcfcfc;
  box-shadow: 6px -6px 10px 1px rgba(236, 236, 236, 0.55);
  border-bottom: 3px solid transparent;
  box-sizing: border-box; }
  .focus__item:nth-child(1) {
    border-color: #fc5f45; }
    .focus__item:nth-child(1) .focus__svg {
      fill: #fc5f45; }
  .focus__item:nth-child(2) {
    border-color: #38c695; }
    .focus__item:nth-child(2) .focus__svg {
      fill: #38c695; }
  .focus__item:nth-child(3) {
    border-color: #b27cf5; }
    .focus__item:nth-child(3) .focus__svg {
      fill: #b27cf5; }
  .focus__item:nth-child(4) {
    border-color: #feb960; }
    .focus__item:nth-child(4) .focus__svg {
      fill: #feb960; }

.focus__svg {
  margin-bottom: 30px; }

.focus__item_title {
  margin-top: 0;
  margin-bottom: 35px; }

.focus__item_descr {
  text-align: center; }

@media (max-width: 1900px) {
  .focus {
    padding: 8% 15%;
    box-sizing: border-box; }
  .focus__list {
    flex-wrap: wrap;
    width: 860px; }
  .focus__item {
    width: 410px;
    height: 525px;
    padding-top: 85px;
    padding-left: 50px;
    padding-right: 50px;
    margin-right: 40px;
    margin-bottom: 40px;
    font-size: 1.2em; }
    .focus__item:nth-child(2n) {
      margin-right: 0; }
  .focus__svg {
    margin-bottom: 70px; }
  .focus__item_title {
    margin-bottom: 60px; } }

@media (max-width: 992px) {
  .focus {
    padding-left: 0;
    padding-right: 0; }
  .focus__list {
    width: 768px;
    margin-bottom: -20px; }
  .focus__item {
    width: 360px;
    height: 461px;
    padding-top: 55px;
    margin-right: 20px;
    margin-bottom: 20px; }
  .focus__svg {
    margin-bottom: 40px; } }

@media (max-width: 768px) {
  .focus__list {
    justify-content: center;
    width: 360px; }
  .focus__item {
    width: 360px;
    height: 461px;
    margin-right: 0; } }

@media (max-width: 576px) {
  .focus__title_descr {
    display: inline-block;
    max-width: 340px;
    text-align: center; }
  .focus__list {
    width: 340px; }
  .focus__item {
    width: 340px;
    height: 435px; } }

.video {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 500px;
  padding: 150px 390px;
  box-sizing: border-box;
  color: #efefef;
  background: url("../../img/video.jpg") no-repeat center center;
  background-size: cover; }

.video__title {
  font-size: 30px;
  font-family: 'Libre Baskerville', sans-serif;
  font-weight: bold;
  font-weight: normal;
  text-align: center; }

.video__btn {
  width: 80px;
  height: 80px;
  padding: 0;
  margin-bottom: 40px;
  fill: #38c695;
  background-color: transparent;
  border-radius: 50%; }
  .video__btn:hover {
    background: transparent;
    fill: #b27cf5; }

@media (max-width: 1900px) {
  .video {
    height: auto;
    padding: 8% 15%;
    box-sizing: border-box; } }

.portfolio {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 150px 390px;
  box-sizing: border-box;
  background-color: #fcfcfc; }

.portfolio__title {
  text-align: center;
  font-family: 'Libre Baskerville', sans-serif;
  font-weight: bold; }

.portfolio__title_descr {
  display: block;
  margin-bottom: 80px;
  font-size: 18px; }

.portfolio__list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 100%;
  padding: 0;
  margin: 0;
  margin-bottom: -30px;
  list-style: none;
  box-sizing: border-box; }

.portfolio__item {
  position: relative;
  display: block;
  width: 360px;
  height: 290px;
  margin-bottom: 30px;
  box-shadow: 6px -6px 10px 1px rgba(236, 236, 236, 0.55); }
  .portfolio__item:hover .portfolio__detail {
    opacity: 1;
    transition: .3s; }
  .portfolio__item:not(:hover) .portfolio__detail {
    transition: .3s; }

.portfolio__img_wrapper {
  display: block;
  width: 100%;
  height: 100%;
  background: linear-gradient(to top, #fc5f45, #cccccc 60%);
  overflow: hidden;
  box-sizing: border-box; }
  .portfolio__img_wrapper img {
    height: 100%; }

.portfolio__detail {
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 100%;
  height: 100%;
  opacity: 0; }

.portfolio__btn_wrapper {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 225px;
  border: 7px solid #ffffff;
  border-bottom: none;
  background-color: rgba(50, 50, 50, 0.47);
  box-sizing: border-box; }

.portfolio__btn {
  width: 61px;
  height: 61px;
  padding: 0;
  margin: 0;
  fill: #efefef;
  background-color: transparent;
  border-radius: 50%; }
  .portfolio__btn:hover {
    background: transparent;
    fill: #feb960; }

.portfolio__item_title {
  display: block;
  width: 100%;
  height: 65px;
  margin: 0;
  line-height: 65px;
  text-align: center;
  background-color: #ffffff; }

@media (max-width: 1900px) {
  .portfolio {
    padding: 8% 15%;
    box-sizing: border-box; }
  .portfolio__list {
    width: 1130px; }
  .portfolio__item {
    margin-right: 25px; }
    .portfolio__item:nth-child(3n) {
      margin-right: 0; } }

@media (max-width: 1620px) {
  .portfolio {
    padding-left: 0;
    padding-right: 0; }
  .portfolio__list {
    width: 1025px; }
  .portfolio__item {
    width: 500px;
    height: 403px;
    margin-right: 25px; }
    .portfolio__item:nth-child(2n) {
      margin-right: 0; }
  .portfolio__detail {
    opacity: 1; }
  .portfolio__btn_wrapper {
    height: 340px; } }

@media (max-width: 1080px) {
  .portfolio__list {
    width: 825px; }
  .portfolio__item {
    width: 400px;
    height: 322px; }
  .portfolio__btn_wrapper {
    height: 260px; } }

@media (max-width: 868px) {
  .portfolio__list {
    flex-wrap: wrap;
    justify-content: center;
    width: 400px; }
  .portfolio__item {
    width: 400px;
    height: 322px;
    margin-right: 0; }
  .portfolio__btn_wrapper {
    height: 260px; } }

@media (max-width: 576px) {
  .portfolio__title_descr {
    display: block;
    max-width: 340px;
    text-align: center; }
  .portfolio__list {
    width: 360px;
    margin-bottom: -20px; }
  .portfolio__item {
    width: 340px;
    height: 274px;
    margin-bottom: 20px; }
  .portfolio__btn_wrapper {
    height: 210px; } }

.team {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 150px 390px;
  box-sizing: border-box;
  background-color: #f7f7f7; }

.team__title {
  text-align: center;
  font-family: 'Libre Baskerville', sans-serif;
  font-weight: bold; }

.team__title_descr {
  display: block;
  margin-bottom: 80px;
  font-size: 18px; }

.team__list {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  margin: 0;
  padding: 0;
  padding-bottom: 50px;
  list-style: none; }

.team__item {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 265px;
  height: 350px;
  box-shadow: 6px -6px 10px 1px rgba(236, 236, 236, 0.55);
  background-color: #fcfcfc;
  border: 5px solid #fcfcfc;
  border-bottom: none;
  box-sizing: border-box; }
  .team__item:hover .team__btn {
    opacity: 1; }
  .team__item:nth-child(1)::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: -5px;
    display: block;
    width: 265px;
    height: 3px;
    background-color: #fc5f45; }
  .team__item:nth-child(1) .team__btn:hover {
    fill: #fc5f45; }
  .team__item:nth-child(1) .team__img_wrapper {
    background: linear-gradient(to top, #fc5f45, #cccccc 60%);
    overflow: hidden;
    box-sizing: border-box; }
  .team__item:nth-child(1) .team__unit_name {
    color: #fc5f45; }
  .team__item:nth-child(2)::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: -5px;
    display: block;
    width: 265px;
    height: 3px;
    background-color: #38c695; }
  .team__item:nth-child(2) .team__btn:hover {
    fill: #38c695; }
  .team__item:nth-child(2) .team__img_wrapper {
    background: linear-gradient(to top, #38c695, #cccccc 60%);
    overflow: hidden;
    box-sizing: border-box; }
  .team__item:nth-child(2) .team__unit_name {
    color: #38c695; }
  .team__item:nth-child(3)::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: -5px;
    display: block;
    width: 265px;
    height: 3px;
    background-color: #b27cf5; }
  .team__item:nth-child(3) .team__btn:hover {
    fill: #b27cf5; }
  .team__item:nth-child(3) .team__img_wrapper {
    background: linear-gradient(to top, #b27cf5, #cccccc 60%);
    overflow: hidden;
    box-sizing: border-box; }
  .team__item:nth-child(3) .team__unit_name {
    color: #b27cf5; }
  .team__item:nth-child(4)::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: -5px;
    display: block;
    width: 265px;
    height: 3px;
    background-color: #feb960; }
  .team__item:nth-child(4) .team__btn:hover {
    fill: #feb960; }
  .team__item:nth-child(4) .team__img_wrapper {
    background: linear-gradient(to top, #feb960, #cccccc 60%);
    overflow: hidden;
    box-sizing: border-box; }
  .team__item:nth-child(4) .team__unit_name {
    color: #feb960; }

.team__btn {
  position: absolute;
  top: 30%;
  left: 0;
  right: 0;
  width: 61px;
  height: 61px;
  padding: 0;
  margin: 0 auto;
  opacity: 0;
  fill: #efefef;
  background-color: transparent;
  border-radius: 50%; }
  .team__btn:hover {
    background: transparent; }

.team__img_wrapper {
  display: block;
  width: 100%;
  height: 260px; }

.team__descr_wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 80px; }

.team__unit_name {
  margin: 0;
  font-size: 18px;
  text-align: center; }

.team__about {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 65px 90px;
  background-color: #fcfcfc;
  box-sizing: border-box;
  z-index: 1; }
  .team__about:before {
    content: "";
    position: absolute;
    top: -40px;
    left: 105px;
    width: 0;
    height: 0;
    border-left: 30px solid transparent;
    border-right: 30px solid transparent;
    border-bottom: 50px solid #fcfcfc; }

.team__about_title {
  margin: 0;
  margin-bottom: 30px;
  font-size: 20px; }

.team__about_container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%; }

.team__descr {
  width: 65%;
  margin: 0; }

.team__links {
  width: 130px;
  height: 100%;
  padding-left: 25px;
  margin: 0;
  border-left: 2px solid #f7f7f7;
  list-style: none;
  box-sizing: border-box; }

.team__links_item {
  margin-bottom: 6px; }
  .team__links_item:nth-child(1):hover .team__link {
    color: #fc5f45; }
  .team__links_item:nth-child(1):hover .team__link_svg {
    fill: #fc5f45; }
  .team__links_item:nth-child(2):hover .team__link {
    color: #38c695; }
  .team__links_item:nth-child(2):hover .team__link_svg {
    fill: #38c695; }
  .team__links_item:nth-child(3):hover .team__link {
    color: #b27cf5; }
  .team__links_item:nth-child(3):hover .team__link_svg {
    fill: #b27cf5; }
  .team__links_item:nth-child(4):hover .team__link {
    color: #feb960; }
  .team__links_item:nth-child(4):hover .team__link_svg {
    fill: #feb960; }

.team__link {
  display: flex;
  align-items: center;
  color: #454545;
  text-decoration: none; }

.team__link_svg {
  margin-right: 5px; }

@media (max-width: 1900px) {
  .team {
    padding: 8% 15%;
    box-sizing: border-box; } }

@media (max-width: 1570px) {
  .team__list {
    width: 900px;
    padding-bottom: 0; }
  .team__item {
    width: 210px;
    height: 277px; }
    .team__item:nth-child(even)::after {
      width: 210px; }
    .team__item:nth-child(odd)::after {
      width: 210px; }
  .team__btn {
    opacity: 1; }
  .team__about {
    display: none; } }

@media (max-width: 1280px) {
  .team__list {
    flex-wrap: wrap;
    width: 560px;
    margin-bottom: -30px; }
  .team__item {
    width: 265px;
    height: 360px;
    margin-bottom: 30px; }
    .team__item:nth-child(even)::after {
      width: 265px; }
    .team__item:nth-child(odd)::after {
      width: 265px; } }

@media (max-width: 640px) {
  .team {
    padding-left: 0;
    padding-right: 0; }
  .team__title_descr {
    max-width: 340px;
    text-align: center; }
  .team__list {
    width: 265px; } }

.statistic {
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: 465px;
  padding-top: 130px;
  padding-left: 400px;
  padding-right: 400px;
  padding-bottom: 110px;
  color: #efefef;
  background: url("../../img/bgr.png") no-repeat center center;
  box-sizing: border-box; }

.statistic__list {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 100%;
  box-sizing: border-box; }

.statistic__item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around; }
  .statistic__item:nth-child(1) .statistic__svg {
    fill: #fc5f45; }
  .statistic__item:nth-child(1) .statistic__decoration {
    border-color: #fc5f45; }
  .statistic__item:nth-child(1) .statistic__decoration_inner {
    background-color: #fc5f45; }
  .statistic__item:nth-child(2) .statistic__svg {
    fill: #38c695; }
  .statistic__item:nth-child(2) .statistic__decoration {
    border-color: #38c695; }
  .statistic__item:nth-child(2) .statistic__decoration_inner {
    background-color: #38c695; }
  .statistic__item:nth-child(3) .statistic__svg {
    fill: #b27cf5; }
  .statistic__item:nth-child(3) .statistic__decoration {
    border-color: #b27cf5; }
  .statistic__item:nth-child(3) .statistic__decoration_inner {
    background-color: #b27cf5; }
  .statistic__item:nth-child(4) .statistic__svg {
    fill: #feb960; }
  .statistic__item:nth-child(4) .statistic__decoration {
    border-color: #feb960; }
  .statistic__item:nth-child(4) .statistic__decoration_inner {
    background-color: #feb960; }

.statistic__svg {
  width: 51px;
  height: 51px;
  margin-bottom: 25px; }

.statistic__num {
  margin-bottom: 25px;
  font-size: 20px;
  font-weight: bold; }

.statistic__item_subject {
  margin: 0;
  margin-bottom: 25px;
  font-weight: normal; }

.statistic__decoration {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 16px;
  height: 16px;
  border: 1px solid;
  border-radius: 50%;
  box-sizing: border-box; }

.statistic__decoration_inner {
  display: block;
  width: 10px;
  height: 10px;
  border-radius: 50%; }

@media (max-width: 1900px) {
  .statistic {
    height: auto;
    max-height: 465px;
    padding: 8% 15%;
    box-sizing: border-box; } }

.packages {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 150px 390px;
  box-sizing: border-box;
  background-color: #f7f7f7; }

.packages__title {
  text-align: center;
  font-family: 'Libre Baskerville', sans-serif;
  font-weight: bold; }

.packages__title_descr {
  display: block;
  margin-bottom: 80px;
  font-size: 18px; }

.packages__list {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin: 0;
  padding: 0;
  list-style: none; }

.packages__item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 360px;
  height: 580px;
  padding: 35px 75px;
  background-color: #fcfcfc;
  box-shadow: 6px -6px 10px 1px rgba(236, 236, 236, 0.55);
  box-sizing: border-box; }
  .packages__item:nth-child(1) {
    border-top: 3px solid #38c695; }
    .packages__item:nth-child(1) .packages__price_wrapper {
      background-color: #38c695; }
    .packages__item:nth-child(1) .packages__btn {
      color: #38c695;
      border: 3px solid #38c695; }
      .packages__item:nth-child(1) .packages__btn:hover {
        color: #efefef;
        background-color: #38c695; }
  .packages__item:nth-child(2) {
    border-top: 3px solid #b27cf5; }
    .packages__item:nth-child(2) .packages__price_wrapper {
      background-color: #b27cf5; }
    .packages__item:nth-child(2) .packages__btn {
      color: #b27cf5;
      border: 3px solid #b27cf5; }
      .packages__item:nth-child(2) .packages__btn:hover {
        color: #efefef;
        background-color: #b27cf5; }
  .packages__item:nth-child(3) {
    border-top: 3px solid #fc5f45; }
    .packages__item:nth-child(3) .packages__price_wrapper {
      background-color: #fc5f45; }
    .packages__item:nth-child(3) .packages__btn {
      color: #fc5f45;
      border: 3px solid #fc5f45; }
      .packages__item:nth-child(3) .packages__btn:hover {
        color: #efefef;
        background-color: #fc5f45; }

.packages__package_title {
  margin-top: 0;
  margin-bottom: 35px;
  font-size: 20px;
  text-align: center; }

.packages__price_wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 116px;
  height: 116px;
  margin-bottom: 35px;
  color: #efefef;
  border-radius: 50%;
  box-sizing: border-box; }

.packages__price {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 110px;
  height: 110px;
  border: 3px solid #fcfcfc;
  border-radius: 50%;
  box-sizing: border-box; }
  .packages__price .packages__num {
    font-size: 25px;
    line-height: 1em; }

.packages__services {
  padding: 0;
  margin-bottom: 35px;
  list-style: none;
  text-align: center;
  line-height: 2.1em; }

.packages__btn {
  background-color: inherit; }

@media (max-width: 1900px) {
  .packages {
    padding: 8% 15%;
    box-sizing: border-box; } }

@media (max-width: 1570px) {
  .packages__list {
    flex-wrap: wrap;
    width: 755px; }
  .packages__item {
    margin-bottom: 35px; } }

.subscribe {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 150px 390px;
  box-sizing: border-box;
  background-color: #fcfcfc; }

.subscribe__header {
  margin-top: 0;
  margin-bottom: 50px;
  font-family: 'Libre Baskerville', sans-serif;
  font-weight: bold;
  font-weight: normal; }

.subscribe__form {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 700px; }

.subscribe__email {
  width: 450px;
  padding-left: 20px;
  font-size: 18px;
  background-color: #f7f7f7;
  border: none;
  border-top-left-radius: 30px;
  border-bottom-left-radius: 30px; }

.subscribe__btn {
  padding-left: 20px;
  padding-right: 20px;
  border-bottom-left-radius: inherit;
  border-top-left-radius: inherit; }

@media (max-width: 1900px) {
  .subscribe {
    padding: 8% 15%;
    box-sizing: border-box; } }

.message {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 150px;
  padding-left: 580px;
  padding-right: 580px;
  padding-bottom: 500px;
  color: #efefef;
  background: #fcfcfc url("../../img/form_bgr.jpg") no-repeat center center;
  background-size: cover; }

.message__title {
  text-align: center;
  font-family: 'Libre Baskerville', sans-serif;
  font-weight: bold; }

.message__title_descr {
  display: block;
  margin-bottom: 80px;
  font-size: 18px; }

.message__form {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between; }

.message__user_data {
  width: 360px;
  height: 50px;
  margin-bottom: 25px;
  padding: 10px 15px;
  font-size: 18px;
  text-align: center;
  border: none;
  border-radius: 3px;
  box-sizing: border-box; }
  .message__user_data::-webkit-input-placeholder {
    text-align: center; }
  .message__user_data:-ms-input-placeholder {
    text-align: center; }
  .message__user_data::-ms-input-placeholder {
    text-align: center; }
  .message__user_data::placeholder {
    text-align: center; }

.message__user_text {
  width: 100%;
  height: 200px;
  padding: 15px 15px;
  margin-bottom: 50px;
  font-size: 18px;
  font-family: "poppins", sans-serif;
  border: none;
  border-radius: 3px;
  box-sizing: border-box; }
  .message__user_text::-webkit-input-placeholder {
    font-size: 16px;
    text-align: center; }
  .message__user_text:-ms-input-placeholder {
    font-size: 16px;
    text-align: center; }
  .message__user_text::-ms-input-placeholder {
    font-size: 16px;
    text-align: center; }
  .message__user_text::placeholder {
    font-size: 16px;
    text-align: center; }

.message__btn {
  margin: 0 auto; }

@media (max-width: 1900px) {
  .message {
    padding: 8% 15%;
    box-sizing: border-box;
    padding-bottom: 500px; }
  .message__user_data {
    width: 48%; } }

.footer {
  position: absolute;
  margin: auto;
  left: 0;
  right: 0;
  bottom: 125px;
  display: flex;
  width: 1140px;
  height: 230px;
  font-size: 16px;
  color: #efefef;
  background-color: rgba(50, 50, 50, 0.8); }

.footer__section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 25%;
  height: 100%;
  padding-left: 40px;
  padding-right: 40px;
  box-sizing: border-box; }
  .footer__section:nth-child(1) {
    border-bottom: 3px solid #fc5f45; }
    .footer__section:nth-child(1) .footer__section_head {
      color: #fc5f45; }
  .footer__section:nth-child(2) {
    border-bottom: 3px solid #38c695; }
    .footer__section:nth-child(2) .footer__section_head {
      color: #38c695; }
  .footer__section:nth-child(3) {
    border-bottom: 3px solid #b27cf5; }
    .footer__section:nth-child(3) .footer__section_head {
      color: #b27cf5; }
  .footer__section:nth-child(4) {
    border-bottom: 3px solid #feb960; }
    .footer__section:nth-child(4) .footer__section_head {
      color: #feb960; }

.footer__logo_link {
  font-size: 50px;
  color: #FEF4F2;
  font-family: "Wisdom Script", sans-serif;
  text-decoration: none; }
  .footer__logo_link span {
    color: #fc5f45; }
  .footer__logo_link:hover span {
    transition: .2s;
    color: #38c695; }

.footer__section_head {
  margin-top: 0;
  margin-bottom: 30px;
  font-size: 18px; }

.footer__list {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  width: 100%;
  margin: 0;
  padding: 0;
  list-style: none; }

.footer__link_svg {
  fill: #efefef; }
  .footer__link_svg:hover {
    fill: #feb960; }

.decoration {
  display: flex;
  flex-direction: row;
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 3px; }

.decoration__unit:nth-child(1) {
  width: 25%;
  background-color: #fc5f45; }

.decoration__unit:nth-child(2) {
  width: 25%;
  background-color: #38c695; }

.decoration__unit:nth-child(3) {
  width: 25%;
  background-color: #b27cf5; }

.decoration__unit:nth-child(4) {
  width: 25%;
  background-color: #feb960; }
