@font-face {
  font-family: "poppins";
  src: url("../fonts/Poppins/PoppinsRegular.ttf");
  font-weight: normal;
}

@font-face {
  font-family: "poppins";
  src: url("../fonts/Poppins/PoppinsBold.ttf");
  font-weight: bold;
}

@font-face {
  font-family: "Libre Baskerville";
  src: url("../fonts/LibreBaskerville/LibreBaskervilleRegular.ttf");
  font-weight: normal;
}

@font-face {
  font-family: "Libre Baskerville";
  src: url("../fonts/LibreBaskerville/LibreBaskervilleBold.ttf");
  font-weight: bold;
}

@font-face {
  font-family: "Wisdom Script";
  src: url("../fonts/WisdomScript/WisdomScript.otf");
  font-weight: normal;
}