$default-font: "poppins", sans-serif;
$accent_1: #38c695;
$accent_2: #b27cf5;
$accent_3: #feb960;
$accent_4: #fc5f45;
$text: #454545;
$alt-text: #efefef;
$bgr: #fcfcfc;
$footer_bgr: rgba(50, 50, 50, 0.8);
$alt_bgr: #f7f7f7;
$alt_items_bgr: #ffffff;
$img_grad: linear-gradient(to top, #daaca4, #cccccc 75%);
$img_border: #a7a7a7;
$shadow: rgba(236, 236, 236, 0.55);
$transparent_gray: rgba(50, 50, 50, 0.47);

@mixin desct_padding() {
  padding: 150px 390px;
  box-sizing: border-box;
}

@mixin adapt_padding() {
  padding: 8% 15%;
  box-sizing: border-box;
}

@mixin shadow() {
  box-shadow: 6px -6px 10px 1px $shadow;
}

@mixin img_wrapper($color) {
  background: linear-gradient(to top, $color, #cccccc 60%);

  overflow: hidden;
  box-sizing: border-box;
}

@mixin underline ($color, $w: 265px) {
  content: "";

  position: absolute;
  bottom: 0;
  left: -5px;

  display: block;
  width: $w;
  height: 3px;

  background-color: $color;
}

@mixin sectionTitle() {
  font-family: 'Libre Baskerville', sans-serif;
  font-weight: bold;
}