$default-font: "myriad-pro", sans-serif;
$accent_1: #38c695;
$accent_2: #b27cf5;
$accent_3: #feb960;
$accent_4: #fc5f45;
$text: #313131;
$alt-text: #ffffff;
$bgr: #ffffff;
$alt_bgr: #333740;
$img_grad: linear-gradient(to top, #daaca4, #cccccc 75%);
$img_border: #a7a7a7;
$shadow: rgba(241, 241, 241, 0.55);

$info-num: #fff;
$sl-btn: #c6cfd2;

@mixin desct_padding() {
  padding: 150px 390px;
}